---
const { img } = Astro.props;
const { title } = Astro.props;
const { text } = Astro.props;
---

<div class="w-auto h-auto bg-blue-500">
	<img class="hidden sm:block" src={img} alt="" width="210">
	<h3>{title}</h3>
	<p>{text}</p>
</div>
