---
const { name_emi } = Astro.props
const { addres_emi } = Astro.props
const { addres_emi_2 } = Astro.props
const { class: className = "", ...rest } = Astro.props
---

<div class=`text-center ${className}`>
	<h3 class="text-[20px] md:text-base lg:text-[34px]">Escuela Municiapal de Idiomas de {name_emi}</h3>
	<p class="text-[12px] md:text-base lg:text-[16px] lg:py-4">{addres_emi}</p>
	<p class="text-[12px] md:text-base lg:text-[16px]">{addres_emi_2}</p>
</div>

<style>
	h3{
		color: #00788c;
		line-height: 1.3;
	}
	p{
		font-family: 'gotham-book',helvetica,sans-serif;
		font-weight: normal;
		color: #3c3c3c;
		line-height: 1.6;
	}
</style>