---
const { name_emi } = Astro.props
const { addres_emi } = Astro.props
const { addres_emi_2 } = Astro.props
---

<div>
	<h3>Escuela Municiapal de Idiomas de {name_emi}</h3>
	<p>{addres_emi}</p>
	<p>{addres_emi_2}</p>
</div>

<style>
	div{
		grid-column: 2 / 4; 
		margin-left: 10%;
		margin-top: 20px;
	
	}
	h3{
		color: #00788c;
		font-size: 34px;
		line-height: 1.6;
		margin-bottom: 0px;
	}
	p{
		font-size: 16px;
		font-family: gotham-book,helvetica,sans-serif;
		font-weight: normal;
		color: #3c3c3c;
		line-height: 1.6;
	}
</style>