---
const { name } = Astro.props
const base = import.meta.env.BASE_URL;

const logo = [`${base}/Logo_Cambridge.svg`, null]
let img
const Arraytext = ["Certificaciones oficiales para todos los niveles según el MCER", null]
let text

if (name === "Cambridge"){
	img = logo[0]
	text = Arraytext[0]
}else if(name === "Trinity"){
	img = logo[1]
	text = Arraytext[1]
}


---

<div>
	<img src={img} height="">
	<p>{text}</p>
</div>

<style>
	div{
		width: 300px;
		height: 300px;
		background: linear-gradient(135deg, #f6f5f5 5%, #f7f7f7 60%, #fff 100%);
		border-radius: 15px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
		padding: 0 25px;
		margin: 0 2%;
		backdrop-filter: blur(10px);           /* Desenfoque del fondo */
		-webkit-backdrop-filter: blur(10px);   /* Soporte para Safari */
		border: 1px solid rgba(255, 255, 255, 0.3); /* Borde tipo vidrio */
		box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
		position: relative; 
	}
	p{
		font-size: 25px;
		text-align: center;
		font-family: 'Gotham-Light';
		font-weight: 100;
		color: rgb(115, 115, 115);
	}
</style>