---
import CardInfo from "./Cards/Card_Info.astro";

const base = import.meta.env.BASE_URL;
---

<div class="swiper">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<CardInfo
				urlImg=`${base}/Imagenes_prueba/flag_UK.webp`
				h3Text="INGLES"
				h5Text=""
				pText=""
			/>
		</div>
		<div class="swiper-slide">
			<CardInfo
				urlImg=`${base}/Imagenes_prueba/flag_FR.webp`
				h3Text="FRANCES"
				h5Text=""
				pText=""
			/>
		</div>
		<div class="swiper-slide">
			<CardInfo
				urlImg=`${base}/Imagenes_prueba/flag_CH.webp`
				h3Text="CHINO"
				h5Text=""
				pText=""
			/>
		</div>
	</div>

	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	<div class="swiper-pagination"></div>
</div>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
	<style>
		.swiper{
			width: 100%;
			max-width: 300px;
		}
	</style>

<script type="module">
	import Swiper from "https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.esm.browser.min.js";

	new Swiper(".swiper", {
		loop: true,
		slidesPerView: 1,
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
	});
</script>
