---
import GothamBook from '../assets/fonts/Gotham-Book.otf'
import GothamLight from '../assets/fonts/Gotham-Light.otf'
import GothamMedium from '../assets/fonts/Gotham-Medium.otf'
import GothamXNarrow from '../assets/fonts/GothamXNarrow-Light.otf'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
* {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Poppins', sans-serif;
			background:
			radial-gradient(circle at top left, #e8f1fa 20%, transparent 50%),
			radial-gradient(circle at top right, #e8f1fa 20%, transparent 50%),
			radial-gradient(circle at bottom left, #e8f1fa 20%, transparent 50%),
			radial-gradient(circle at bottom right, #e8f1fa 20%, transparent 50%),
			radial-gradient(circle at center, #c9d8e6 20%, #dce6f0 50%);
		background-blend-mode: lighten;
}
@font-face {
	font-family: 'Gotham-Light';
	src: url('/assets/fonts/GothamLight.otf') format('opentype');
}
@font-face {
	font-family: 'GothamXNarrow-Light';
	src: url('/assets/fonts/GothamXNarrow-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Gothan';
	src: url('/assets/fonts/Gotham.otf') format('opentype');
}
@font-face {
	font-family: 'Gothan-medium';
	src: url('/assets/fonts/GothamMedium.otf') format('opentype');
}
</style>

